/* .text-shadow-black{
  text-shadow: -2px 5px 14px #4f46e5;
  color: #262626;
}

.text-shadow-indigo{
  text-shadow: -2px 6px 8px #818cf8;
} */

main{
  background-color: #f9fafb;
}

.App-height{
  min-height: 91.5vh;
}

.map-shadow {
  box-shadow: 0px 0px 10px 0px #4f46e5;
}

.map-shadow:hover {
  box-shadow: 0px 0px 15px 0px #4f46e5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*----------------------------------------------*/
.App-load {
  width: 200px;
  height: 200px;
  overflow-x: hidden;
  flex: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.load-logo {
  animation: load-logo-spin infinite 20s linear;
}

@keyframes load-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p,label {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

label {
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}